/* @import url(//db.onlinewebfonts.com/c/28a1199b2b647d6a186138b6bd3015d6?family=VAG+Rundschrift); */

/* ***************************************************** */
/*                         OVERALL                       */
/* ***************************************************** */

* {
	/* margin: 0; */
}
/* ***************************************************** */
/*                         BODY                          */
/* ***************************************************** */
body {
	/* background-color: #be3027; */
	color: #000000;
	/* font-family: 'VAG Rundschrift', sans-serif; */
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	font-family: 'Luckiest Guy', cursive;
}

body p, label {
	font-family: 'Montserrat', sans-serif;

}

/* ******************************************************************************************************* */

.container {
	/* background-color: rgba(128, 128, 128, 0.297); */
	/* margin: 1rem; */
	padding: 0;
	display: grid;
	grid-template-areas:
		'topbar	topbar	topbar'
		'leftside	content	content'
		'footer	footer	footer';

	grid-template-columns: 1fr 3fr 1fr;
	/* grid-template-rows: 50px 650px 50px; */
	grid-auto-rows: minmax(50px, auto);
	grid-gap: 3px;
}

/* ***************************************************** */
/*                         HEADER		                 */
/* ***************************************************** */
.container header {
	grid-area: topbar;

	display: grid;
	grid-template-areas: 'logo nav info';
	grid-template-columns: 1fr 3fr 1fr;
	/* grid-auto-rows: minmax(50px, auto); */
	/* grid-template-rows: 50px 50px 50px; */

	/* development styling */
	/* background-color: #62ff002e; */
	border: 1px solid rgb(43, 43, 43);
	border-radius: 2px;
}

header #logo {
	grid-area: logo;
	width: 50px;
}

header nav ul {
	grid-area: nav;

	list-style-type: none;
	padding-left: 0;
}

header nav ul li {
	display: inline;
}

header nav ul li a {
	color: black;
	text-decoration: none;
}

header nav ul li a:hover {
	color: blue;
}

header nav ul li a:active {
	text-decoration: underline;
}

header #info-button {
	grid-area: info;
	width: 50px;
}
/* ***************************************************** */
/*                         ASIDE		                 */
/* ***************************************************** */
.container aside {
	grid-area: leftside;

	display: grid;
	grid-template-areas:
		'filter'
		'chart';

	grid-template-columns: 1fr;
	grid-template-rows: 350px;
	grid-gap: 20px;

	/* development styling */
	/* background-color: #00ffff0f; */
	border: 1px solid rgb(43, 43, 43);
}

/* ***************************************************** */
/*                        ASIDE - FILTER BUTTONS          */
/* ***************************************************** */
#filter-pattern {
	grid-area: filter;

	background-color: rgba(194, 194, 194, 0.139);
	color: #000000;
	border: 1px solid #000000;
	/* border-radius: 5px; */
	position: absolute;
	/* width: 30%;
    max-width: 30%; */
	padding: 0.5em;
	/* margin-left: 0.5em;
	margin-top: 3rem; */
}

#filter-pattern h2 {
	font-size: 1em;
}

#filter-pattern ul {
	list-style-type: none;
	padding-left: 0;
}

#filter-pattern input {
	cursor: pointer;
}

#filter-pattern label {
	font-size: 1rem;
	color: #292929;
}

/* hover state - label */
#filter-pattern label:hover {
	text-decoration: underline;
	cursor: pointer;
}

#filter-pattern input:checked + label {
	color: #000000;
}

#filter-pattern button {
	background-color: #1159c6;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	padding: 11px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	cursor: pointer;
}

#filter-pattern button:hover {
	background-color: #112fc6;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

#filter-pattern button:focus {
	outline: 0;
}

/* ***************************************************** */
/*                        ASIDE - CHART			         */
/* ***************************************************** */

#chart-wrapper {
	grid-area: chart;
	background-color: rgba(194, 194, 194, 0.139);
	border: 1px solid #000000;
}

#chart-wrapper canvas {
	/* width: 100%; */
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding-top: 0;
}
/* ***************************************************** */
/*                         DATAVIZ		                 */
/* ***************************************************** */
.container article {
	grid-area: content;

	/* development styling */
	/* background-color: #ffae002e; */
	border: 1px solid rgb(43, 43, 43);
	position: relative;

	display: grid;
	grid-template-areas: 'map tooltip';

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

#map {
	/* top: 0; */
	/* bottom: 0; */
	/* width: 100%; */
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#slider-wrapper{
	/* display:block; */
}

#slider {
	position: fixed;
	z-index: 4;

	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

/* ***************************************************** */
/*            DATAVIZ - TOOLTIP (overlay )    			 */
/* ***************************************************** */

.container #tooltip {
	grid-area: tooltip;

	display: none;
	background-color: #eaeaea;
	border: 1px inset #000000;
	color: #000000;
	position: absolute;
	z-index: 1;
	padding: 0.7em;
	padding-top: 0em;
	justify-self: right;
	margin: 1rem;
}

#tooltip span {
	color: rgb(58, 58, 58);
}

#tooltip h3 {
	margin-top: 2em;
	margin-bottom: 0em;
	font-size: 1.2em;
}

/* ***************************************************** */
/*                         FOOTER		                 */
/* ***************************************************** */
.container footer {
	grid-area: footer;

	/* development styling */

	border: 1px solid rgb(43, 43, 43);
	text-align: center;
	padding-top: 10px;
}

.container footer a {
	color: #000000;
	text-decoration: none;
}

.container footer a:hover {
	text-decoration: underline;
}

/* ***************************************************** */
/*                         FEEDBACK PAGE	             */
/* ***************************************************** */

#feedback-container {
	/* background-color: rgb(156, 181, 181); */
	margin: 5rem;

	display: grid;
	grid-template-areas:
		'filter	filter	filter'
		'items	items	items';

	grid-template-columns: 2fr 1fr 1fr;
	/* grid-template-rows: 50px 650px 50px; */
	grid-auto-rows: minmax(10px, auto);
	/* grid-gap: 3px; */
}

#feedback-filter {
	grid-area: filter;
	background-color: rgb(203, 203, 203);

	display: grid;
	grid-template-areas: 'filter-info color	category';
	grid-template-columns: 2fr 1fr 1fr;
}

#feedback-filter-color {
	grid-area: color;
	/* background-color: orange; */
	border: 1px solid black;
}

#feedback-filter-color button {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: none;
}

#feedback-filter-color #button-red {
	background-color: red;
}

#feedback-filter-color #button-orange {
	background-color: orange;
}

#feedback-filter-color #button-green {
	background-color: green;
}

#feedback-filter-category {
	grid-area: category;
	/* background-color: peru; */
	border: 1px solid black;
}

#feedback-list {
	grid-area: items;
	border: 1px solid black;
}

#feedback-list ul {
	grid-area: items;

	/* margin: 50px; */
	padding-left: 0;
	list-style-type: none;

	/* display: grid;
	grid-template-areas:
		'content filteroption';
		
	grid-template-columns: 1fr 3fr 1fr;
	grid-auto-rows: minmax(50px, auto);
	grid-gap: 3px; */
}

#feedback-list-item {
	background-color: rgba(143, 143, 143, 0.311);
	border: 1px solid black;
	margin-bottom: 10px;
	padding: 5px;

	display: grid;
	grid-template-areas:
		'id	id id id'
		'desc desc feedback-color feedback-category';

	grid-template-columns: 2fr 2fr 2fr 2fr;
	grid-auto-rows: minmax(50px, auto);
	/* grid-gap: 3px; */
}

#feedback-id {
	grid-area: id;
}

#feedback-desc {
	grid-area: desc;
	margin: 0;
}

#feedback-color {
	grid-area: feedback-color;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: red;
}

#feedback-category {
	grid-area: feedback-category;
	background-color: grey;
	width: 100%;
	color: darkgrey;
	padding: 0;

	border-radius: 20px;
	text-align: center;
	margin: 0;
}
