@import url(//db.onlinewebfonts.com/c/28a1199b2b647d6a186138b6bd3015d6?family=VAG+Rundschrift);

/* ***************************************************** */
/*                         OVERALL                       */
/* ***************************************************** */

* {
	background-color: #be3027;
	color: #ffffff;
}

/* ***************************************************** */
/*                         BODY                          */
/* ***************************************************** */
body {
	font-family: 'VAG Rundschrift', sans-serif;
}

/* ***************************************************** */
/*                         LOGO                          */
/* ***************************************************** */

#logo {
	width: 500px;
}
